spring:
  application:
    name: drive-backend

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    baseline-on-migrate: true

jwt:
  access-token:
    secret: ${JWT_ACCESS_TOKEN_SECRET}
    expiration-ms: ${JWT_ACCESS_TOKEN_EXPIRATION_MS}

oauth:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    token-uri: https://kauth.kakao.com/oauth/token
    user-info-uri: https://kapi.kakao.com/v2/user/me

server:
  port: 8080

logging:
  level:
    root: INFO
