spring:
  application:
    name: drive-backend

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    baseline-on-migrate: true

jwt:
  access-token:
    secret: ${JWT_ACCESS_TOKEN_SECRET}
    expiration-ms: ${JWT_ACCESS_TOKEN_EXPIRATION_MS}
  refresh-token:
    expiration-hours: ${JWT_REFRESH_TOKEN_EXPIRATION_HOURS}

oauth:
  allowed-providers:
    - KAKAO
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    token-uri: https://kauth.kakao.com/oauth/token
    user-info-uri: https://kapi.kakao.com/v2/user/me

  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    token-uri: https://oauth2.googleapis.com/token
    user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo

server:
  port: 8080

logging:
  level:
    root: INFO
