spring:
  application:
    name: drive-backend

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

server:
  port: 8080

logging:
  level:
    root: INFO
