spring:
  datasource:
    url: jdbc:postgresql://db:5432/drive
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none

server:
  forward-headers-strategy: framework

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false