spring:
  application:
    name: drive-backend

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

jwt:
  access-token:
    secret: ${JWT_ACCESS_TOKEN_SECRET}
    expiration-ms: ${JWT_ACCESS_TOKEN_EXPIRATION_MS}

server:
  port: 8080

logging:
  level:
    root: INFO
